*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    min-height:100vh;
    background-color:burlywood;
    display:flex;
    flex-direction:column;
    /* align-items:center; */
    overflow: hidden;
    font-family:sans-serif;
    background-image:url('bg-img.jpg');
    background-size:cover;
    background-blend-mode:multiply;
}
.container{
    margin:1em auto;
    max-width:1200px;;
    padding:1em;
    width:90%;
   
   

}

.split{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.title{
    text-align:center;
    color:#fff;
    font-size:2rem;
    margin-bottom:0.5em;
}
.stats{
    font-size:1rem;
    display:flex;
    color:#fff;
    justify-content:center;
    gap:30px;
    margin-bottom:1em;
    margin-top:1em;
    flex-wrap:wrap;
    align-items:center;
    
    
    
}
#canvas{
    border-radius:5px;
    background-color:#ccc;
    max-width:600px;
   
    padding:1em;
    box-shadow: 0 0  3px 5px #222;
    /* width:100%; */
    width: 100%;
    margin-left:25%;
    margin-right:25%;
    /* opacity:0.3; */
    display:none;
 

}

.game__start{
    margin:5em auto;
    padding:1em;
    background:#ccc;
    max-width:450px;

}
.instructions{
    text-align:center;
    font-size:2rem;
    margin-bottom:1em;
    line-height:1.7;
}

.game__over{
    position:absolute;
    top:10%;
    left:50%;
    transform:translate(-50%,50%);
    background:#ccc;
    padding:1em;
    max-width:400px;
    width:90%;
    flex-direction:column;
    border-radius:0.2em;
    display:none;
}
.final__score{
    font-size:clamp(1rem,2.5vw,2rem);
    text-align:center;
    margin-bottom:1em;
}
.btn{
    display:inline-block;
    padding:0.5em;
    border:0;
    outline:0;
    background:#01ef;

    font-size:clamp(1rem,2.5vw,1.5rem);
    border-radius:0.2em;
   align-self: center;
   cursor: pointer;
   color:#fff;

}

.off{
    /* margin: 0 auto; */
    font-size:0.8rem;
    align-self:flex-start;
    margin-top:.4em;
}

.start{
    display:block;
    margin: 0 auto !important;
    font-size:clamp(1.5rem,2.5vw,2rem);
    background:green;
}

@media (max-width:1000px){
    #canvas{
        margin:0;
    }
    .stats{
        justify-content: flex-start;
    }
}

@media (max-width:600px) {
      .stats{
          justify-content:space-around;
      }
}

